
.snackbar-style{
  background-color: #333;
  color: green;
}
.snackbar-error{
  background-color: red;
  color: green;
}
.mdc-button__label{
  color: red;
}


.invalid{
  background-color: red;
  font-weight: 800;
  // border: 20px dashed #fff;
  width: 30rem;
  height: 6rem;

}

.valid{
  background-color: lime;
}
.invalid-text{
  color: crimson;
  font-weight: 800;
  margin: 10px;
}
.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.circle-container{
  height: 80%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border-radius: 5%;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input{
  width: 30rem;
  height: 6rem;
  border: none;
  border: 1px solid #fff;
  outline: none;
  font-size: 2rem;
  border-radius: 2rem;

  box-shadow: 0px 0px 4px #fff;

  font-family: 'Poppins', sans-serif;


  // border-bottom-right-radius: 55%;

}
input::placeholder{

  color: #999999;
  font-weight: 800;
  // font-weight: 800;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;

  // color: #fff;
  text-align: center;
  text-transform: uppercase;
}
label{
  color: #e9e7e7;
  font-weight: 600;
  background-color: #222222;
  border-radius: 2rem;
  height: 6rem;
  min-width: 30rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2.5rem;
  text-transform: uppercase;
  border: 1px solid #d8d8d8;


}

button{
  width: 20rem;
  height: 4.5rem;
  border-radius: 2rem;
}


.button-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  width: 20rem;
  height: 8rem;
  background-color: #060606;
  border: none;
  // border-left: 10px dashed #fff;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 0px 4px #fff;
  &:hover{
    background-color: #131212;

  }
}
.register-container{
  // background-color: red;
  margin-top: 25px;

}
element.style{
  background-color: black !important;
  width: 0;
  height: 0;
}

#cdk-overlay-0{
  background-color: black !important;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h3{
  color: #fff;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif !important;

}

section{
 background-color: #060606 ;
min-height: 480px;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 480px;
}
.user-name, .email-password{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:5px;
}
.user-name{
  gap:10px;
}
.email-password{
  gap: 10px;
}
input{
  height: 3rem;
  width: 25rem;
  background-color: #131212;
  outline: none;
  border: 1px solid #fff;
  margin: 10px;
  color: #fff;
}
input:focus{
  color: #fff;
}

.submit-button{
  width: 350px;
  background-color: #131212;
  outline: none;
  border: 1px solid #fff;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif !important;
  // font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;

}


.register-container button{
  border: 1px solid #fff;
  height: 6rem;
  width: 30rem;
  background-color: #060606;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;


}
