<section class="register">
  <div class="header">
    <h3>Zarejestruj się</h3>
  </div>
  <div class="body">
    <form #form="ngForm">
      <div class="user-name">
        <input type="text" placeholder="Imię" name="fname" ngModel>
        <input type="text" placeholder="Nazwisko" name="lname" ngModel>
      </div>


      <div class="email-password">
        <input type="text" placeholder="Email" name="email" ngModel>
        <input type="text" placeholder="Zdjecie" name="avatar" ngModel>
        <input type="text" placeholder="Hasło" name="password" ngModel>

      </div>
      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Zarejestruj się</button>
    </form>

  </div>
</section>
