<div class="background-main">
<div class="top">
  <div class="left-site-container">

    <div class="circle-cont">

      <div (click)="isClickedProfile()" class="profile-circle">
      </div>
    </div>
    <div class="profile-menu-container" *ngIf="isClicked">
      <div class="profile-menu">
        <p>Informacje o mnie</p>
        <p>Mój profil</p>
        <p>Pomoc i wsparcie</p>
        <p>Ustawienia</p>
      </div>
    </div>
  </div>
  <div class="main-site-container">
    <div class="mat-icon-container">

      <mat-icon>home</mat-icon>
      <mat-icon>settings</mat-icon>
      <mat-icon>comment</mat-icon>
      <mat-icon>message</mat-icon>
      <mat-icon>add_circle</mat-icon>
    </div>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Wyszukaj">
    <mat-icon class="search-icon">search</mat-icon>
  </div>

</div>

<main>
  <div class="background-left-site-container">

  </div>
  <div class="background-main-text-container">
    <div class="main-background-text">
      <div class="input-text-container">
        <div class="profile-circle">
        </div>
        <form #form="ngForm" (ngSubmit)="postMessage(form)">
          <h2>Wyślij wiadomość na oś czasu!</h2>
          <button (click)="logout()">Wyloguj</button>

          <input type="text" placeholder="Napisz wiadomość!" name="message" [(ngModel)]="message">
          <!-- <button type="submit"></button> -->
        </form>
        <div class="post-container-max">
        </div>
        <div class="posts-container" *ngFor="let p of posts">
          <img class="avatar" [src]="p?.avatar" alt="Avatar">
          <div class="firstname-lastname">

            <div>{{ p?.firstName }}</div>
            <div>{{ p?.lastName }}</div>
          </div>
          <div class="content-text-post">

            <div>{{ p?.message }}</div>
            <button (click)="deletePost(p?.id)">Usuń post</button>

          </div>



        </div>

      </div>
    </div>
  </div>
  <div class="background-right-site-container">


  </div>
</main>




</div>




