<div class="background-main">
  <div class="top">
    <div class="left-site-container">
      <div class="circle-cont">
        <span
          (click)="isClickedProfile()"
          id="menu"
          class="material-symbols-outlined"
        >
          menu
        </span>
      </div>
      <div class="profile-menu-container" *ngIf="isClicked">
        <div class="profile-menu">
          <mat-icon routerLink="''">home</mat-icon>
          <p>Strona główna</p>
          <mat-icon routerLink="friends">view_list</mat-icon>
          <p>Znajomi</p>
          <mat-icon routerLink="messages">message</mat-icon>
          <p>Wiadomości</p>
        </div>
      </div>
    </div>
    <div class="main-site-container">
      <div class="input-container">
          <form (submit)="searchFriends(searchForm)" #searchForm="ngForm">
            <div>
              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Imię"
                [(ngModel)]="friendData.name"
                required
              />
            </div>
            <div>
              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Nazwisko"
                [(ngModel)]="friendData.lastName"
                required
              />
            </div>
            <button type="submit">Wyszukaj</button>
          </form>
          <div class="results-container">

            <div class="results" *ngIf="searchResultsFound">
              <div class="h3-container">

                <h3>Wyniki wyszukiwania:</h3>
              </div>
              <ul>
                <li *ngFor="let result of searchResults">
                  {{ result.firstName }} {{ result.lastName }}
                  <button
                  (click)="addFriend(result)"
                  [disabled]="result.addedToFriends"
                  >
                  Dodaj do znajomych
                </button>
                </li>


            </ul>
          </div>

        </div>
        <!-- <mat-icon class="search-icon">search</mat-icon> -->
      </div>
    </div>
      <div class="logout-container">

      <mat-icon>notifications</mat-icon>
      <span (click)="logout()" class="material-symbols-outlined"> logout </span>
    </div>
  </div>

  <main>
    <div class="background-left-site-container">

    </div>
    <div class="background-main-text-container">
      <div class="h2-container">

        <h2>Strona główna</h2>
      </div>
      <div class="main-background-text">
        <div class="input-text-container">
          <div class="profile-circle"></div>
          <form #form="ngForm" (ngSubmit)="postMessage(form)">
            <div class="text-message-container">
              <div class="textarea-container">
                <img class="avatar" [src]="defaultAvatar" alt="Avatar" />

                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Napisz wiadomość!"
                  name="message"
                  [(ngModel)]="message"
                  required
                ></textarea>
              </div>
              <div class="submit-container">
                <input
                type="submit"
                placeholder="Wyślij"
                [(ngModel)]="message"
                class="submit-button-message"

                />
              </div>
            </div>
            <!-- <button type="submit"></button> -->
          </form>
          <div class="post-container-max"></div>
          <div class="posts-container" *ngFor="let p of posts">
            <div class="firstname-lastname">
              <div>{{ p?.firstName }}</div>
              <div>{{ p?.lastName }}</div>
            </div>
            <div class="content-text-container">
              <div>{{ p?.message }}</div>
            </div>
            <div class="delete-post-container">
              <mat-icon (click)="deletePost(p?.id)">delete_forever</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-right-site-container">
      <div class="friends-container">
        <div class="h3-friends-container">
          <h3>Kontakty</h3>
        </div>
        <div class="friends-list-container">
          <div class="person">
            <ul>
              <li *ngIf="user">
                <p>Teraz zalogowany jest:</p>
                <p>{{ user.firstName }}</p>
                <p>{{ user.lastName }}</p>
              </li>
            </ul>
            <h3>Lista znajomych:</h3>
            <ul>
              <div class="friend-list" *ngFor="let friend of friends">
                <p>{{ friend.firstName }} {{ friend.lastName }}</p>
                <div (click)="removeFriend(friend)">
                  <mat-icon>delete_forever</mat-icon>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
