<div class="space">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>


  <div class="form-container">
    <div class="h2-container">

      <h2>Logowanie</h2>
    </div>
    <div class="form-container-text">

      <form #form="ngForm" (ngSubmit)="loginn(form)">
        <div class="input-container">
          <input type="text" placeholder="Email" name="email" ngModel required />
          <input
          type="text"
          placeholder="Hasło"
          name="password"
          ngModel
          required
          />
        </div>

        <div class="button-container">
          <button type="submit" [disabled]="form.invalid || form.pending" class="login-button">
            Zaloguj się
          </button>
          <button (click)="openRegister()">Zarejestruj się</button>
        </div>
      </form>
    </div>
  </div>

</div>
