.snackbar-style{
  background-color: #333;
  color: #fff;
}
.snackbar-error{
  background-color: red;
  color: green;
}
.mdc-button__label{
  color: red;
}

h2{
  font-size: 4rem;
  // margin: 35px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
}



.invalid{
  background-color: red;
  // border: 20px dashed #fff;
  width: 30rem;
  height: 6rem;

}
.invalid-text{
  color: crimson;
  margin: 10px;
}
.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.circle-container{
  height: 80%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border-radius: 5%;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input{
  width: 30rem;
  height: 6rem;
  border: none;
  border: 1px solid #fff;
  outline: none;
  font-size: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 4px #fff;

  font-family: 'Poppins', sans-serif;


  // border-bottom-right-radius: 55%;

}
input::placeholder{

  color: #fff;
  // font-weight: 800;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;

  // color: #fff;
  text-align: center;
  text-transform: uppercase;
}
label{
  color: #e9e7e7;
  font-weight: 600;
  background-color: #222222;
  border-radius: 2rem;
  height: 6rem;
  min-width: 30rem;

  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2.5rem 0rem;
  text-transform: uppercase;
  border: 1px solid #d8d8d8;


}

button{
  width: 20rem;
  height: 4.5rem;
  border-radius: 2rem;
}


.button-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  width: 20rem;
  height: 8rem;
  background-color: #060606;
  border: none;
  // border-left: 10px dashed #fff;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 0px 4px #fff;
  &:hover{
    background-color: #131212;

  }
}
.login-container{
  // background-color: red;
  margin-top: 25px;

}


.login-container button{
  border: 1px solid #fff;
  height: 6rem;
  width: 30rem;
  background-color: #060606;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;


}
