/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
  --mdc-snackbar-container-color: green !important;
  --mat-mdc-snack-bar-button-color: white !important;
}
.error-snackbar {
  --mdc-snackbar-container-color: red !important;
  --mat-mdc-snack-bar-button-color: red !important;
}
